<div class="site">
  <header class="site-hd">
    <div class="appBar">
      <div class="appBar-identity">
        <h1 routerLink="/">{{ title }}</h1>
      </div>
      <div class="appBar-tools">
        <nav>
          <a routerLink="/dashboard">Dashboard</a>
          <a routerLink="/heroes">Heroes</a>
        </nav>
      </div>
    </div>
  </header>
  <main class="site-bd">
    <div class="container">
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </main>
  <footer class="site-ft">Angular Sample Application</footer>
</div>
